*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
h1{
    color: white;
}
p{
    color: #02ff73;
    text-decoration: underline dotted;
    font-style: italic;
    font-weight: 800;
}